#page {
	margin: 40px auto;
	padding: 0 1em;
	max-width: 61.65 em;	 /* 988px / 16px = 61.75em */
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.entry .content {
	margin-left: 5%;
	width: 85.425%;          /* 844px / 988px = 0.85425 */
}

.body {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
}

#movie {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.button {
	width: 50px;
	margin-left: auto;
	margin-right: auto;
   border-top: 1px solid #007ACC;
   background: #007ACC;
   background: -webkit-gradient(linear, left top, left bottom, from(#007ACC), to(#007ACC));
   background: -webkit-linear-gradient(top, #007ACC, #007ACC);
   background: -moz-linear-gradient(top, #007ACC, #007ACC);
   background: -ms-linear-gradient(top, #007ACC, #007ACC);
   background: -o-linear-gradient(top, #007ACC, #007ACC);
   padding: 15px 30px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   text-align: center;
   color: white;
   font-size: 1.3em;
   font-family: Helvetica, Arial, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #4ab7ff;
   background: #4ab7ff;
   }

.wizard a {
    padding: 12px 12px 10px 12px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
    font-size: 0.8em;
}

.wizard a:before {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.wizard a:after {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.wizard a:first-child:before {
    border: none;
}

.wizard a:last-child:after {
    border: none;
}

.wizard a:first-child {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}

.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .current {
    background: #007ACC;
    color: #fff;
}

.wizard .current:after {
    border-left-color: #007ACC;
}