// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
	font-family: Helvetica Neue, Helvetica, Arial, sans-sarif;
}

.Entryblock-1 {

	background-color: #F5F5F5;
}

h1 {
	text-align: center;
}

.logo {
	display: block;
	margin: auto;
}
.white {
	padding: 10px;
}
.gray {
		background-color: #F5F5F5;
		padding: 10px;
}